<ion-view view-title="Saved">
    <ion-tabs
        class="tabs-balanced tabs-icon-top tabs-icon-top tabs-striped tabs-top tabs-background-positive tabs-color-light">

        <ion-tab title="Word" icon-on="icon ion-archive" icon-off="icon ion-archive">
            <ion-view>
                <ion-content>
                    <ion-list show-delete="shouldShowDelete"
                              show-reorder="shouldShowReorder"
                              can-swipe="listCanSwipe">
                        <ion-item ng-repeat="word in words track by $index" class="ink" href="#/app/saved/{{word.id}}">
                            {{word.word}}
                            <ion-option-button class="button button-fab button-assertive icon ion-close"
                                               ng-click="remove(word.id);"></ion-option-button>
                        </ion-item>
                    </ion-list>
                    <!--<div class="list" show-delete="shouldShowDelete"-->
                    <!--show-reorder="shouldShowReorder"-->
                    <!--can-swipe="listCanSwipe">-->
                    <!--<a class="item" ng-repeat="word in words track by $index">{{word.word}}</a>-->
                    <!--</div>-->
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="Search Result" icon-on="icon ion-ios-search" icon-off="icon ion-ios-search">
            <ion-view>
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="word in saved track by $index" class="ink">
                            {{word.word}}
                            <ion-option-button
                                class="button button-fab button-assertive icon ion-close"></ion-option-button>
                        </ion-item>
                    </ion-list>
                    <!--<div class="list">-->
                    <!--<a class="item" >-->
                    <!--{{word.word}}-->
                    <!--</a>-->
                    <!--</div>-->
                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>

